html{
	body{
		main{
			.oe_website_login_container{
			background-color:white;
			height:100%;
			 background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover;
		  display:flex;
		  align-items:center;
			}
			.oe_login_form, .oe_signup_form, .oe_reset_password_form{
			margin:0 auto;
			padding:15px;
		  border-radius:6px;
			background-color:white;
			}
		}
	}
}